:root {
  --text-color: #fffff7;
  --background-color: #0c0404;
}

.navbar {
  background-color: var(--background-color);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li {
  color: white;
}
