:root {
  --text-color: #fffff7;
  --background-color: #0c0404;
}

.navbar {
  background-color: var(--background-color);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  color: var(--text-color);
  background-color: #666362;
  width: 70px;
  height: 70px;
  border: 0;
  border-radius: 8px;
  margin: 0 10px;
}
