/** HEADER **/
header {
	display: fixed;
	height: 10vh;
	background-color: #1d2125;
	color: white;
}

nav {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
	gap: 50px;
}

#home,
#menu,
#about {
	width: 100px;
	font-weight: bold;
	padding: 10px 5px;
	border: solid 1px;
	text-align: center;
	border-radius: 8px;
}

#home:hover,
#menu:hover,
#about:hover {
	background-color: #6e5dc6;
}

/** Home **/

#content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title {
	display: flex;
	font-size: 38px;
	font-weight: bold;
	width: 100%;
	height: 7vh;
	justify-content: center;
	align-items: center;
	margin: 20px 0;
}

.review-container {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	padding: 30px 0px;
}

.review-inner {
	width: 500px;
}

.review-content {
	margin-bottom: 10px;
}

.customer {
	text-align: right;
	font-style: italic;
	font-weight: 700;
}

.hours-container,
.about-container {
	padding: 50px 0;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.days {
	white-space: pre;
}

.selected {
	background-color: #5e4db2;
}

.menu-container {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-evenly;
	align-items: center;
}

.price {
	text-align: right;
	font-weight: 600;
}

.dish-container,
.drink-container,
.contact-container {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(3, minmax(400px, 1fr));
	gap: 25px;
	margin-bottom: 50px;
}

.contact-container {
	grid-template-columns: repeat(2, minmax(400px, 1fr));
}

.dish-card,
.drink-card,
.contact-card {
	width: 400px;
	border: solid 2px;
	border-radius: 8px;
	padding: 24px;
	box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.contact-name {
	font-size: 22px;
	font-weight: 700;
	padding: 0 10px;
}

.contact-position,
.contact-phone,
.contact-mail {
	font-size: 18px;
	font-weight: 600;
	padding: 0 10px;
}
